/*=============================
            HEADER FOOTER
===============================*/

header {
  background-color: darkcyan;
}

footer {
  width: auto;
  height: 80px;
  border: 2px solid;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 3px;
  background-color:#33CC66;
}

button {
  background: #0d1831;
  color: #ffffff;
  border: 1px solid #0d1831;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 3px;
}

footer .footer_discl {
  margin: 1px 0px;
}
.link_logo {
  display: inline-block;
}
.img_cover {
  background-size: cover !important;
}


/*=============================
            Home Container
===============================*/
.MainContainer {
  width: auto;
  height: 1000px;
  border: 1px solid;
  display: flex;
  padding-top: 75px;
}
.wrapperDiv {
  height: 20px;
  width: 70px;
  
}
.custom-btn {
  background: #fff;
  color: red;
  border: 2px solid red;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.labels {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  border-radius: 5px;
  padding-right: 10px;

}

.container {
  width: 1024px;
  margin: 0 auto;
}
.signin_wrapper {
  margin-top: 96px;
  padding: 20px;
  min-height: 70vh;
  text-align: center;
}

.signin_wrapper form {
  width: 350px;
  margin: 0 auto;
}

.signin_wrapper form button {
  width: 100%;
  padding: 10px;
}

.signin_wrapper h2 {
  font-family: "Righteous", cursive;
  color: #98c6e9;
  font-size: 50px;
}
.signin_wrapper input {
  font-family: "Righteous", cursive;
  color: #98c6e9;
  font-size: 20px;
}
.error_label {
  color: #f44336;
  font-weight: 600;
  margin: 10px 0px;
}
.Button {
  font-size: 10px;
}

.success_label {
  color: #98c5e9;
  font-weight: 600;
  margin: 10px 0px;
}
.label_inputs {
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 300;
  background: green;
  padding: 10px;
  display: inline-block;
}
/*=============================
            Advertising Container
===============================*/
.AdvertisingContainer {
  width: 100%;
  border: 1px solid;
}

.AdvertisingWrapper {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border: springgreen;
  display: flex;
  align-items: center;
}
.images {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.search {
  width: 80px;
  height: 20px;
  padding-right: 690px;
}
.hlychgitem {
  width: 100%;
  height: 5%;
  border: 1px solid;
  display: flex;
}
.hlychgitem_uchgitem {
  /* padding-top: 10%;
  width: 25%;
  height: 100%; */
  border: 1px solid;
  text-align: center;
  background-color: teal;
  color: #0d1831;
  font-family: "Righteous", cursive;
  font-size: smaller;
}

/*=============================
            Sidebar Container
===============================*/
.SidebarContainer {
  width: 600px;
  height: 600px;
  position: relative;
  border: 1px solid;
  padding: 1% 1%;
  background-color: white;
  
}
.product_block {
  width: 100%;
  height: 5%;
  padding: 2% 2%;
  border: 1px solid;
  border-radius: 8px;
  color: green;
}
.product_wrapper {
  height: 50%;
  padding: 2% 2%;
  border: 1px solid;
  border-radius: 8px;
  text-align: center;
  color: green;
}

.product_name {
  font-family: "Righteous", cursive;
  font-size: smaller;
}
.product_wrapper:hover {
  background-color: tomato;
}
.product_wrapper:hover div {
  display: block;
}
.product_categories {
  height: 50%;
  padding: 2% 2%;
  border: 1px solid;
  text-align: center;
  display: none;
}
